.block{
    width: 300px;
    height: 300px;

}

.block__row{

border: 10px solid #ece89d;
display:flex;
flex-direction:row;
}

.block__element{

border: 5px solid #5e5373;
}

.block__content{

background-color: #18b5a4;
}